<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <%= simple_form_for @liste do |l| %>
          <%= l.input :nom, placeholder: "Nom de la liste", label: "Nom de la liste" %>
          <%= l.input :magasin, placeholder: "Magasin", label: "Magasin" %>
          <%= l.input :date_livraison, placeholder: "Date de livraison demandée", label: "Date livraison" %>
          <%= l.button :submit, "Je prends en charge", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>

 </div>
