<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1 class="text-center">Listes disponibles</h1>

        <% @listesd.each do |ld| %>
            <div class="product">
              <div class='product-body'>
                <h3><%= ld.nom %></h3>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                 <li>
                   <%= link_to liste_path(ld) do %>
                    <i class="fa fa-eye"></i>
                   <% end %>
                 </li>
              </ul>
            </div>
        <% end %>


      <h1 class="text-center">Listes prises</h1>

        <% @listesp.each do |lp| %>
            <div class="product">
              <div class='product-body'>
                <h3><%= lp.nom %></h3>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                 <li>
                   <%= link_to liste_path(lp) do %>
                    <i class="fa fa-eye"></i>
                   <% end %>
                 </li>
              </ul>
            </div>
        <% end %>

     </div>

  </div>

</div>

