<%= content_for :title, title("Listes de courses") %>
<%= content_for :description, description("Listes de courses qui peuvent être prises en charge ou listes de courses déjà prises en charge") %>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <% if params[:not_taken] %>
          <h4>Prendre une liste en charge</h4>
        <% end %>

        <% if params[:taken_by] %>
          <h4>Listes prises en charge</h4>
        <% end %>

        <% if params[:my_listes] %>
          <h4>Mes listes</h4>
        <% end %>

        <%= paginate @listes %>
        <%= render @listes %>
        <%= paginate @listes %>

    </div>

  </div>

  <div class="spacer"></div>
  <% if params[:not_taken] %>
    <%= link_to "Listes prises en charge", listes_path(:taken_by => true) %>
  <% end %>

</div>

