<%= content_for :title, title("Listes de courses") %>
<%= content_for :description, description("Listes de courses qui peuvent être prises en charge ou listes de courses déjà prises en charge") %>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <% if params[:not_taken] %>
          <h2>Listes disponibles</h2>
        <% end %>

        <% if params[:taken_by] %>
          <h2>Listes prises en charge</h2>
        <% end %>

        <%= paginate @listes %>
        <%= render @listes %>
        <%= paginate @listes %>

    </div>

  </div>

  <div class="spacer"></div>
  <%= link_to "Retour", choix_path %>

</div>

