<%= content_for :title, title("Ma liste de courses") %>
<%= content_for :description, description("Création, modification et visualisation de ma liste de courses") %>

  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <h2>Création d'une liste</h2>
        <%= simple_form_for @liste do |l| %>

          <div class="form-inputs">
            <%= l.input :nom, input_html: { placeholder: "Nom liste" }, label: false, autofocus: true %>
            <%= l.input :content, input_html: { placeholder: "Contenu" }, label: false %>
            <%= l.input :adresse_livraison, input_html: { placeholder: "Adresse de livraison" }, label: false %>
            <%= l.input :date_livraison, input_html: { class: 'date', placeholder: "Date de livraison souhaitée" }, label: false %>
            <%= l.input :heure_livraison, input_html: { placeholder: "Heure de livraison souhaitée" }, label: false %>
          </div>

          <div class="form-actions">
            <%= l.button :submit, "Créer", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>

     </div>
    </div>

  </div>

  <div class="spacer"></div>
  <%= link_to "Mes listes", listes_path(:my_listes => true) %>
