<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <% if @ma_liste.present? %>

          <h1>Ma liste</h1>

            <% @ma_liste.each do |liste| %>

                   <div class="product">
                      <div class='product-body'>
                        <h3><%= liste.nom %></h3>
                        <h6>Contenu : <%= liste.content %></h6>
                        <h6>Livraison souhaitée pour le : <%= liste.date_livraison %></h6>
                      </div>

                      <% if liste.takenby != 0 %>

                        <h4>
                          <% @takenby.each do |u| %>
                            Votre liste est prise en charge -
                            Pour la modifier ou la supprimer
                            contactez votre voisin à l'adresse mail <%= link_to u.email %>
                          <% end %>
                        </h4>

                      <% else %>

                        <ul class="list-inline product-controls hidden-sm hidden-xs">

                           <li>
                             <%= link_to edit_liste_path(liste) do %>
                              <i class="fa fa-pencil"></i>
                             <% end %>
                           </li>

                           <li>
                             <%= link_to liste_path(liste), method: :delete do %>
                              <i class="fa fa-trash"></i>
                             <% end %>
                           </li>

                        </ul>

                      <% end %>

                   </div>
            <% end %>

        <% else %>

          <%= simple_form_for @liste do |l| %>
            <%= l.input :nom, placeholder: "Nom de la liste", label: "Nom de la liste" %>
            <%= l.input :content, placeholder: "Contenu", label: "Contenu" %>
            <%= l.input :date_livraison, placeholder: "Date de livraison demandée", label: "Date de livraison demandée" %>
            <%= l.button :submit, "Créer", class: "btn btn-primary" %>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
  <p class="required-zone">Les zones de saisie précédées d'une * sont obligatoires</p>
 </div>
