<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1 class="text-center">Liste <%= @liste.nom %> </h1>

            <div class="product">
              <div class='product-body'>
                <h3><%= @liste.nom %></h3>
                <h3><%= @liste.content %></h3>
                <h3><%= @liste.date_livraison %></h3>
              </div>
            </div>

            <%= link_to "Toutes les listes", listes_path %>

     </div>

  </div>

</div>



