<%= content_for :title, title("Profil") %>
<%= content_for :description, description("Profil - modification mot de passe, suppression compte") %>

  <div class="container text-center">

      <div class="row">

          <div class="col-sm-4 col-sm-offset-4">

              <h2>Mon profil</h2>

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">

                  <!--<%= f.input :email, disabled: true %>
                  <%= f.input :notel, disabled: true, label: "Mobile" %>-->

                  <%= f.input :email, label: false %>
                  <%= f.input :notel , label: false %>

                  <!-- <%= f.input :avatar, as: :attachinary %> -->

                  <%= f.input :password, autocomplete: "off", required: false, input_html: { placeholder: "Nouveau mot de passe" }, label: false %>
                  <%= f.input :password_confirmation,  hint: "NE PAS REMPLIR si vous ne souhaitez pas modifier votre mot de passe", required: false, input_html: { placeholder: "Confirmer nouveau mot de passe" }, label: false %>

                  <%= f.input :current_password, hint: "Saisir votre mot de passe pour confirmer les changements", required: true, label: "Mot de passe" %>

                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Mettre à jour", class: "btn btn-warning btn-lg" %>
                </div>
              <% end %>


              <div class="spacer"></div>
              <div class="spacer"></div>

              <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr ?" }, method: :delete %></p>
              <p>Avant de supprimer votre compte merci d'annuler vos opérations
              en cours pour que vos voisins concernés soient informés</p>

            </div>

         </div>

       </div>

<%= link_to "Retour", :back %>
