<%= content_for :title, title("Inscription") %>
<%= content_for :description, description("Inscription - saisie email, mot de passe, code postal") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "city-2042634_960_720.png" %>');">

  <div class="container text-center">

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email, required: true, autofocus: true, label: "Email" %>
                  <%= f.input :password, required: true, label: "Mot de passe", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= f.input :password_confirmation, required: true, label: "Confirmation mot de passe" %>
                  <%= f.input :code_postal, required: true, label: "Code postal" %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Confirmer", class: "btn btn-primary btn-lg" %>
                </div>
              <% end %>

              <p></p>
              <%= render "devise/shared/links" %>

            </div>

          </div>

  </div>

</div>



