<%= content_for :title, title("Inscription") %>
<%= content_for :description, description("Inscription - saisie email, mot de passe, code postal") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "city-2042634_960_720.png" %>');">

<div class="container text-center">

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email, label: "Email", placeholder: "exemple@mail.fr" %>
                  <%= f.input :password, label: "Mot de passe" %>
                  <%= f.input :password_confirmation, label: "Confirmation mot de passe" %>
                  <%= f.input :code_postal, label: "Code postal", placeholder: "99999" %>
                  <%= f.input :notel, label: "Mobile (pour être informé par SMS)", placeholder: "0612345678 ou 0712345678" %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Inscription", class: "btn btn-primary btn-lg" %>
                </div>
              <% end %>

              <p></p>
              <%= render "devise/shared/links" %>

            </div>

          </div>

  </div>

</div>




