<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class = "container text-center">

    <h1>Articles list</h1>

    <ul>

      <% @articles.each do |article| %>
        <li>
          <p><strong><%= article.nom %></strong> <%= article.prix %> <%= article.quantite %></p>
        </li>
      <% end %>

    </ul>

    <%= link_to "Nouvel article", new_article_path, class: "btn btn-primary btn-lg" %>

  </div>

</div>
