<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= simple_form_for @user do |u| %>
        <%= u.input :nom, placeholder: "Nom", label: "Nom"%>
        <%= u.input :prenom, placeholder: "Prénom", label: "Prénom"%>
        <%= u.input :email, placeholder: "Email", label: "Email"%>
        <%= u.input :notel, placeholder: "Tél.", label: "Tél."%>
        <%= u.input :passwd, placeholder: "Mot de passe", label: "Mot de passe"%>
        <%= u.button :submit, "Modifier", class: "btn btn-primary"%>
      <% end %>

    </div>
  </div>
</div>

</div>
