<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

  <div class = "container text-center">

    <h1>Users list</h1>

    <div class="table-responsive">
      <table class="table table-hover">

        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Tél.</th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.nom %></td>
            <td><%= user.prenom %></td>
            <td><%= user.email %></td>
            <td><%= user.notel %></td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
 </div>
