<div class="navbar-wagon">

  <a href="/" class="navbar-wagon-brand">

    <%= image_tag "image.ico" %> Best<strong>neighbor</strong>

  </a>


  <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <div class="navbar-wagon-item">
        <div class="dropdown">

          <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", :data => {:toggle=>"dropdown"} %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li class="dropdown-header">Covoiturage</li>
            <li>
              <%= link_to "Mes propositions", covoiturages_path(:my_covoits => true) %>
            </li>
            <li>
              <%= link_to "Mes réservations", covoiturages_path(:taken_by => true) %>
            </li>

            <li class="dropdown-divider"></li>

            <li class="dropdown-header">Courses</li>
            <li class="dropdown-item">
              <%= link_to "Mes listes", listes_path(:my_listes => true) %>
            </li>
            <li>
              <%= link_to "Mes prises en charge", listes_path(:taken_by => true) %>
            </li>

            <li class="dropdown-header">-----------------------------------</li>
            <li>
              <%= link_to "Mon profil", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            </li>
          </ul>

        </div>
       </div>

    <% else %>


      <div class="navbar-wagon-item">
        <div class="dropdown">

          <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", :data => {:toggle=>"dropdown"} %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "Connexion", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Inscription", new_user_registration_path %>
            </li>
          </ul>

        </div>
       </div>

    <% end %>

  </div>

</div>
