<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg" %>');">

  <div class="banner-content">

      <div class="container text-center">

          <div class="row">
            <h2>Courses</h2>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 feature circle">
              <%= link_to "J'ai besoin d'être dépanné", creerliste_path, class: "btn btn-primary btn-lg" %>
              <p></p>
              <%= image_tag "noun_656300_cc.png", alt: "Ma liste", title: "Ma liste", width: "100", class: "circle hidden-sm hidden-xs" %>
            </div>

            <div class="col-sm-6 col-md-6 feature circle">
              <%= link_to "Je peux dépanner", prendreliste_path, class: "btn btn-primary btn-lg" %>
              <p></p>
              <%= image_tag "noun_602639_cc.png", alt: "Je dépanne", title: "Je dépanne", width: "100", class: "circle hidden-sm hidden-xs" %>
            </div>

          </div>

          <p></p>

          <div class="row">
            <h2>Covoiturage</h2>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 feature circle">
              <%= link_to "J'ai besoin d'être dépanné", creertrajet_path, class: "btn btn-primary btn-lg" %>
              <p></p>
              <%= image_tag "noun_232814_cc.png", alt: "Trajet souhaité", title: "Trajet souhaité", width: "100", class: "circle hidden-sm hidden-xs" %>
            </div>

            <div class="col-sm-6 col-md-6 feature circle">
              <%= link_to "Je peux dépanner", prendretrajet_path, class: "btn btn-primary btn-lg" %>
              <p></p>
              <%= image_tag "noun_602639_cc.png", alt: "Je propose un trajet", title: "Je propose un trajet", width: "100", class: "circle hidden-sm hidden-xs" %>
            </div>

          </div>

      </div>

  </div>
</div>


