<%= content_for :title, title("Courses") %>
<%= content_for :description, description("Actions possibles pour les courses") %>

<div class="banner_listes" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "shopping-cart-304843_960_720.png" %>');">

  <div class="banner-content courses">

      <div class="container text-center">

          <div class="row">
            <h2>Courses</h2>
          </div>

          <div class="row">

            <div class="col-sm-4 col-md-4 feature circle">
              <h4>Prendre en charge une liste</h4>
              <%= link_to "Listes", listes_path(:not_taken => true), class: "btn btn-primary btn-lg" %>
            </div>

            <div class="col-sm-4 col-md-4 feature circle">
              <h4>Listes prises en charge</h4>
              <%= link_to "Listes prises", listes_path(:taken_by => true), class: "btn btn-primary btn-lg" %>
            </div>

            <div class="col-sm-4 col-md-4 feature circle">
              <h4>Se faire dépanner</h4>
              <%= link_to "Ma liste", new_liste_path, class: "btn btn-primary btn-lg" %>
            </div>

          </div>

      </div>

  </div>

</div>
