<%= content_for :title, title("Covoiturage") %>
<%= content_for :description, description("Actions possibles pour le covoiturage") %>

<div class="banner_listes" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "carpooling-32719_960_720.png" %>');">

    <div class="banner-content covoiturage">

      <div class="container text-center">

          <div class="row">
            <h2>Covoiturage</h2>
          </div>

          <div class="row">

            <div class="col-sm-6 col-md-6 feature circle">
              <%= link_to "Proposer un trajet", new_covoiturage_path, class: "btn btn-red btn-lg" %>
            </div>

            <br>

            <div class="col-sm-6 col-md-6 feature circle">
              <%= link_to "Chercher un trajet", covoiturages_path(:not_taken => true), class: "btn btn-red btn-lg" %>
            </div>

          </div>

      </div>

  </div>
</div>

