<%= content_for :title, title("Accueil") %>
<%= content_for :description, description("Services entre voisins - description des services de courses et de covoiturage - connexion et inscription depuis cette page") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "city-2042634_960_720.png" %>');">

  <div class="banner-content">

    <div class="container text-center">
      <div class="row">

        <h1>Services entre voisins!</h1>

        <p>Vous voulez donner un coup de main ou être dépanné ?</p>

        <% if user_signed_in? %>
          <%= link_to "Courses", courses_path, class: "btn btn-primary btn-lg" %>
          <div class="spacer"></div>
          <%= link_to "Covoiturage", covoiturage_path, class: "btn btn-primary btn-lg" %>
          <div class="spacer"></div>
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>

        <% else %>

          <%= link_to "Démarrer", new_user_registration_path, class: "btn btn-red btn-lg" %>

        <% end %>

      </div>

      <div class="spacer"></div>
      <div class="spacer"></div>

      <div class="row">

        <h3>Comment ça marche ?</h3>
        <p>Les explications en dessous ...</p>

      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="banner-content">

    <div class="container text-center detail">

          <div class="row">

            <h1 id="list-title1">Courses</h1>

          </div>

          <div class="row">
              <h3 id="list-subtitle1">Je prends une liste en charge</h3>
          </div>

          <div class="spacer"></div>

          <div class="row">

            <div class="col-sm-6 col-md-3 feature caddy">
              <%= image_tag "noun_656300_cc.png", alt: "Visualise listes", title: "Visualise listes", width: "100", class: "circle" %>
              <p></p>
              <h4>Je visualise les listes en attente ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature hand">
              <%= image_tag "noun_841327_cc.png", alt: "Je dépanne", title: "Je dépanne", width: "100", class: "circle" %>
              <p></p>
              <h4>je prends en charge et je reçois un mail ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature mail">
              <%= image_tag "noun_556101_cc.png", alt: "Mail", title: "Mail", width: "100", class: "circle" %>
              <p></p>
              <h4>avec l'adresse e-mail de mon voisin ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature contact">
              <%= image_tag "noun_602639_cc.png", alt: "Contact", title: "Contact", width: "100", class: "circle" %>
              <p></p>
              <h4>nous pouvons nous contacter !</h4>
            </div>

          </div>

    </div>

  </div>

  <div class="banner-content">

    <div class="container text-center detail">

          <div class="spacer"></div>

          <div class="row">

              <h3 id="list-subtitle2">Pas le temps de faire une course ?</h3>

          </div>

          <div class="spacer"></div>

          <div class="row">

            <div class="col-sm-6 col-md-3 feature caddy">
              <%= image_tag "noun_656300_cc.png", alt: "Ma liste", title: "Ma liste", width: "100", class: "circle" %>
              <p></p>
              <h4>Je crée ma liste ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature hand">
              <%= image_tag "noun_841327_cc.png", alt: "Prise en charge", title: "Prise en charge", width: "100", class: "circle" %>
              <p></p>
              <h4>quand elle est prise en charge je reçois un mail ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature mail">
              <%= image_tag "noun_556101_cc.png", alt: "Mail", title: "Mail", width: "100", class: "circle" %>
              <p></p>
              <h4>avec l'adresse e-mail de mon voisin ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature contact">
              <%= image_tag "noun_602639_cc.png", alt: "Contact", title: "Contact", width: "100", class: "circle" %>
              <p></p>
              <h4>nous pouvons nous contacter !</h4>
            </div>

          </div>

    </div>
  </div>

  <div class="separation6"></div>

  <div class="banner-content">

    <div class="container text-center detail">

          <div class="row">

            <h1 class="road-title1">Covoiturage</h1>

          </div>

          <div class="spacer"></div>

          <div class="row">
              <h3 class="road-title2">Je prends un trajet en charge</h3>
          </div>

          <div class="spacer"></div>

          <div class="row">

            <div class="col-sm-6 col-md-3 feature caddy">
              <%= image_tag "noun_232814_cc.png", alt: "Visualise trajets", title: "Visualise trajets", width: "100", class: "circle" %>
              <p></p>
              <h4>Je visualise les trajets en attente ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature hand">
              <%= image_tag "noun_841327_cc.png", alt: "Je dépanne", title: "Je dépanne", width: "100", class: "circle" %>
              <p></p>
              <h4>je prends en charge et je reçois un mail ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature mail">
              <%= image_tag "noun_556101_cc.png", alt: "Mail", title: "Mail", width: "100", class: "circle" %>
              <p></p>
              <h4>avec l'adresse e-mail de mon voisin ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature contact">
              <%= image_tag "noun_602639_cc.png", alt: "Contact", title: "Contact", width: "100", class: "circle" %>
              <p></p>
              <h4>nous pouvons nous contacter !</h4>
            </div>

          </div>

    </div>

  </div>


<div class="spacer"></div>

  <div class="banner-content">

    <div class="container text-center detail">

          <div class="row trajets">
                <h3 class="road-title2">Besoin d'être covoituré ?</h3>
          </div>

          <div class="spacer"></div>

          <div class="row">

            <div class="col-sm-6 col-md-3 feature caddy">
              <%= image_tag "noun_232814_cc.png", alt: "Mon trajet", title: "Mon trajet", width: "100", class: "circle" %>
              <p></p>
              <h4>Je crée mon trajet ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature hand">
              <%= image_tag "noun_841327_cc.png", alt: "Prise en charge", title: "Prise en charge", width: "100", class: "circle" %>
              <p></p>
              <h4>quand il est pris en charge je reçois un mail ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature mail">
              <%= image_tag "noun_556101_cc.png", alt: "Mail", title: "Mail", width: "100", class: "circle" %>
              <p></p>
              <h4>avec l'adresse e-mail de mon voisin ...</h4>
            </div>

            <div class="col-sm-6 col-md-3 feature contact">
              <%= image_tag "noun_602639_cc.png", alt: "Contact", title: "Contact", width: "100", class: "circle" %>
              <p></p>
              <h4>nous pouvons nous contacter !</h4>
            </div>

          </div>

    </div>

  </div>







