<%= content_for :title, title("Proposer un nouveau trajet") %>
<%= content_for :description, description("Création d'une proposition de trajet") %>

  <div class="container text-center">
     <div class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <h2>Création d'un trajet</h2>
        <%= simple_form_for @cov do |t| %>

          <div class="form-inputs">
            <%= t.input :depart, input_html: { placeholder: "Départ" }, label: false, autofocus: true %>
            <%= t.input :destination, input_html: { placeholder: "Destination" }, label: false %>
            <%= t.input :date, input_html: { class: 'date', placeholder: "Date départ" },label: false %>
            <%= t.input :heure, input_html: { placeholder: "Heure de départ" }, label: false %>
            <%= t.input :nbplaces, input_html: { placeholder: "Nb de places proposées" }, label: false %>
          </div>

          <div class="form-actions">
            <%= t.button :submit, "Créer", class: "btn btn-warning btn-block" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="spacer"></div>
  <%= link_to "Mes propositions", covoiturages_path(:my_covoits => true) %>
