<%= content_for :title, title("Mise à jour de ma demande de covoiturage") %>
<%= content_for :description, description("La destination, le nombre de passagers, la date et l'heure peuvent être modifiés") %>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <%= simple_form_for @trajet do |l| %>
          <%= l.input :destination, placeholder: "Destination", label: "Destination" %>
          <%= l.input :nbpass, placeholder: "Nb de passagers", label: "Nb de passagers" %>
          <%= l.input :date, placeholder: "Date", label: "Date" %>
          <%= l.input :heure, placeholder: "Heure", label: "Heure" %>
          <%= l.button :submit, "Enregistrer", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
