<%= content_for :title, title("Listes de trajets") %>
<%= content_for :description, description("Listes de trajets qui peuvent être pris en charge et listes de trajets déjà pris en charge") %>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <% if params[:not_taken] %>
        <h2>Prendre en charge un trajet</h2>
      <% end %>

      <% if params[:taken_by] %>
        <h2>Trajets pris en charge</h2>
      <% end %>

      <%= paginate @trajets %>
      <%= render @trajets %>
      <%= paginate @trajets %>

     </div>

  </div>

  <div class="spacer"></div>
  <%= link_to "Retour", covoit_path %>

</div>

