<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <% if @trajetsd.present? %>
          <h3 class="text-center">Trajets proposés</h3>
          <% @trajetsd.each do |ld| %>
              <div class="product">
                <div class='product-body'>
                  <h4><%= ld.destination %></h4>
                  <h6>Nombre de passagers : <%= ld.nbpass %></h6>
                  <h6>Date du trajet : <%= ld.date %></h6>
                  <h6>Heure du trajet : <%= ld.heure.strftime("%H:%M") %></h6>
                </div>
                <ul class="list-inline product-controls">
                   <li>
                     <%= link_to trajet_path(ld), method: :takenby do %>
                      <i class="fa fa-handshake-o"></i>
                     <% end %>
                   </li>
                </ul>
              </div>
          <% end %>
        <% end %>

        <% if @trajetsp.present? %>
          <h3 class="text-center">J'ai pris en charge ces trajets</h3>
          <% @trajetsp.each do |lp| %>
              <div class="product">
                <div class='product-body'>
                  <h4><%= lp.destination %></h4>
                  <h6>Nombre de passagers : <%= lp.nbpass %></h6>
                  <h6>Date du trajet : <%= lp.date %></h6>
                  <h6>Heure du trajet : <%= lp.heure.strftime("%H:%M") %></h6>
                </div>
                <ul class="list-inline product-controls">
                   <li>
                     <%= link_to trajet_path(lp), method: :takenby do %>
                      <i class="fa fa-trash"></i>
                     <% end %>
                   </li>
                </ul>
              </div>
          <% end %>
        <% end %>

     </div>

  </div>

  <%= link_to "Retour", choix_path %>

</div>

