<%= content_for :title, title("Ma demande de covoiturage") %>
<%= content_for :description, description("Création, modification et visualisation de ma demande de covoiturage") %>

  <div class="container">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <% if @mon_trajet.present? %>

                   <div class="product">

                      <%= render @mon_trajet %>

                      <% if @mon_trajet.takenby != 0 %>

                        <h6><strong>
                            Votre trajet est pris en charge -
                            Pour le modifier ou le supprimer
                            contactez votre voisin à l'adresse mail <%= link_to @email %>
                        </strong></h6>

                      <% else %>

                        <ul class="list-inline product-controls">

                           <li>
                             <%= link_to edit_trajet_path(@mon_trajet) do %>
                              <i class="fa fa-pencil" title="modifier"></i>
                             <% end %>
                           </li>

                           <li>
                             <%= link_to trajet_path(@mon_trajet), method: :delete do %>
                              <i class="fa fa-trash" title="supprimer"></i>
                             <% end %>
                           </li>

                        </ul>

                      <% end %>

                   </div>

        <% else %>

          <%= simple_form_for @trajet do |t| %>
            <%= t.input :destination, placeholder: "Destination", label: "Destination" %>
            <%= t.input :nbpass, placeholder: "Nb de passagers", label: "Nb de passagers" %>

            <%= t.input :date, input_html: { class: 'date' },placeholder: "Date", label: "Date" %>

            <%= t.button :submit, "Créer", class: "btn btn-primary" %>
          <% end %>

        <% end %>

      </div>
    </div>

  <div class="spacer"></div>
  <%= link_to "Retour", covoiturage_path %>

 </div>
