<%= content_for :title, title("Ma demande de covoiturage") %>
<%= content_for :description, description("Création, modification et visualisation de ma demande de covoiturage") %>

<div class="fond2" url('<%= image_path "overlapping-circles.svg" %>')>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <% if @mon_trajet.present? %>

          <h3>Mon trajet</h3>

            <% @mon_trajet.each do |trajet| %>

                   <div class="product">
                      <div class='product-body'>
                        <h4><%= trajet.destination %></h4>
                        <h6>Nombre de passagers : <%= trajet.nbpass %></h6>
                        <h6>Date du trajet : <%= trajet.date %></h6>
                        <h6>Heure du trajet : <%= trajet.heure.strftime("%H:%M") %></h6>
                      </div>

                      <% if trajet.takenby != 0 %>

                        <h6><strong>
                          <% @takenby.each do |u| %>
                            Votre trajet est pris en charge -
                            Pour le modifier ou le supprimer
                            contactez votre voisin à l'adresse mail <%= link_to u.email %>
                          <% end %>
                        </strong></h6>

                      <% else %>

                        <ul class="list-inline product-controls">

                           <li>
                             <%= link_to edit_trajet_path(trajet) do %>
                              <i class="fa fa-pencil"></i>
                             <% end %>
                           </li>

                           <li>
                             <%= link_to trajet_path(trajet), method: :delete do %>
                              <i class="fa fa-trash"></i>
                             <% end %>
                           </li>

                        </ul>

                      <% end %>

                   </div>
            <% end %>

        <% else %>

          <%= simple_form_for @trajet do |t| %>
            <%= t.input :destination, placeholder: "Destination", label: "Destination" %>
            <%= t.input :nbpass, placeholder: "Nb de passagers", label: "Nb de passagers" %>
            <%= t.input :date, placeholder: "Date", label: "Date" %>
            <%= t.input :heure, placeholder: "Heure", label: "Heure" %>
            <%= t.button :submit, "Créer", class: "btn btn-primary" %>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>

  <%= link_to "Retour", choix_path %>

  <% if @mon_trajet.present? %>
  <% else %>
    <p class="required-zone">Les zones de saisie précédées d'une * sont obligatoires</p>
  <% end %>

 </div>
