<div class="fond" url('<%= image_path "i-like-food.svg" %>')>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1 class="text-center">Trajet <%= @trajet.destination %> </h1>

            <div class="product">
              <div class='product-body'>
                <h3><%= @trajet.destination %></h3>
                <h3><%= @trajet.nbpass %></h3>
                <h3><%= @trajet.date %></h3>
                <h3><%= @trajet.heure %></h3>
              </div>
            </div>

            <%= link_to "Retour", choix_path %>

     </div>

  </div>

</div>



